<!--###SEARCHFORM### -->
<form method="POST" action="###ACTION_URL###">
	<input name="###PI_BASE###[search]" type="text" size="20" value="###SEARCHPHRASE###" />
	<input type="hidden" value="1" name="no_cache">
	<input type="submit" name="###PI_BASE###[submit]" value="###SUBMIT###" />
</form>
<!--###SEARCHFORM### -->

<!--###RESULTLIST### -->
###RESULTINFO###
###SEARCHRESULTS###
###PAGEBROWSER###
###BRANDING###
<!--###RESULTLIST### -->

<!--###SEARCHRESULT### -->
###TITLE###
###CONTENT###
###URL###
<!--###SEARCHRESULT### -->
